
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuneSpace-About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="page-about">
    <div class="ban">
        <div class="navbar">
            <img src="{% static 'images/logo-no-background.png' %}" class="logo">
            <ul class="col">
                <li><a href="{% url 'signup' %}">SignUp</a></li>
                <!-- <li><a href="#">Login</a></li> -->
            </ul>
        </div>
    </div>

    <div class="content2">
            <h2>About Us</h2>
            <p>At TuneSpace, we're passionate about revolutionizing the music experience. Our team is dedicated to crafting a</p>
            <p>web application that not only delivers personalized music recommendations but also simplifies playlist management.</p>
            <p>We aim to connect users with their favorite tunes and discover new ones effortlessly,all within an intuitive and</p>
            <p>and user-friendly platform. Join us in exploring the vibrant world of music and enhancing your listening journey with ease and joy.</p>
          

       
        
    </div>

    <div class="contact">
        <h3>Contact-Us</h3>
        <p>email:-dss123@gmail.com</p>

    </div>
        

</body>

</html>

